<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.text_area :content, placeholder: 'COMPOSE NEW MICROPOST...' %>
  </div>

  <%= f.submit 'POST', class: 'btn btn-primary' %>

  <span class="picture">
    <%= f.file_field :picture %>
  </span>
<% end %>

